Hi <%= firstName %> <%= lastName %>,
Please click <a href="<%= resetPasswordLink %>">here</a> to set a new password.
You can log in to the <a href="<%= loginLink %>">Hospital</a> once you set your password.


Best regards,
POYV Team