/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.h2_tag {
  margin-bottom: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: 0;
  padding: 25px;
  background-color: #dcdfe9;
  color: rgb(0, 0, 0);
}

p {
  margin-bottom: 30px;
}

.modal-buttons {
  display: flex;
  justify-content: center;

  button {
    margin: 0 10px;
  }
}



.grid_top {
margin-top: 15px;
}

.update_modal-buttons {
margin-top: 10px;
// margin-left: 25px;
text-align: end;
}
@media only screen and (max-width: 375.5px) {
 
.modal-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
  max-width: 350px;
  max-height: 500px;
  overflow: auto;
  width: 100%;
  text-align: center;
  border-radius: 20px;

}
  }