/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
    h1 {
      display: flex;
      align-items: center;
      margin-top: 40px;
      font-size: 24px;
      color: black;  
      padding-left: 20px;
   
    }
  
    form {
      margin-top: 20px;
      padding-left: 30px;
      padding-right: 30px;

    }
  
    .form-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  
    .form-item {
      width: 48%;
    }
  
 
  }