DATABASE_URL="postgresql://dbuser:dbpassword@localhost:5432/dbname?schema=dbschema"
HOSPITAL_URL='http://localhost:4200'
ADMIN_URL='http://localhost:4200'
SMTP_HOST='smtp.gmail.com'
SMTP_USER='swapnilnadekar01@gmail.com'
SMTP_PASSWORD='zamc qkhp tcrb cmyu'
SMTP_PORT=587
API_URL="http://localhost:3000"
API_URLS="http://192.168.0.105:3000"
DASHBOARD_API_KEY="api-key"

AUTHORIZED_REDIRECT_URI="http://localhost:4200/callback"
VITE_API_URL="http://localhost:3000"
#Google credentials
AUTHORIZED_CALLBACK_URL="http://localhost:4200/callback"
GOOGLE_CLIENT_ID="459593781193-g5bc0ro83n5ir9ia13b8th4r2be30ut9.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"