/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.container{
  padding-top: 10px;
}
.socname {
  text-decoration: none;
  color: black;
  margin: -5px;
  padding: 5px 10px;
}

.socname:hover {
  border-radius: 50px;
  // border: 1px solid #acf3ee;
  background: hsla(180, 80%, 17%, 0.1);
  color: #064B4F;
}

.main_container {
  
    padding: 10px;
    // padding-bottom: 179px;
  }
  
.btn_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0;
  }

  .active{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
    padding: 7px;
    border: 1px solid #08bc41;
    background: rgb(186, 244, 210);
    color: #00922e;
  }
  
  .inactive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
    padding: 7px;
    border: 1px solid #b32950;
    background: rgb(255, 215, 215);
    color: #ba0435;
  }

  .table-row:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  .row-action-button:hover{
    cursor:pointer;
    background-color: #cacaca;
    border-radius: 20px;
  }
  .row-action-delete-button{
    color:green
  }

  .user-name{
    cursor: pointer;
    &:hover {
        text-decoration: underline;
      }
}