.main_root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main_container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 28px rgba(0, 0, 0, 0.1);
}

.first_container {
  flex: 1;
}

.second_container {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
}

.image img {
  width: 45vh; /* Ensure the image does not exceed the container width */
  height: 65vh; /* Allow the height to adjust proportionally */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.logo_image {
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  margin-bottom: 20px;
}

.email,
.password {
  margin-bottom: 20px;
}

.forgot-password {
  margin-bottom: 20px;
}

.submit_btn {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .main_container {
    flex-direction: row;
  }
  
  .second_container {
    padding: 40px;
  }
  
  .logo_image {
    margin-bottom: 40px;
  }
}

@media screen and (min-height: 768px) {
  .image img {
    width: 35vh; /* Ensure the image does not exceed the container width */
    height: 50vh; /* Allow the height to adjust proportionally */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
}