/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.layout{
    display:flex;
    flex-direction: column;
}

.outlet{
    margin-left: 200px;
    top: 67px;
    position: relative;
    overflow-y: scroll;
    height: calc(100vh - 70px);
 
    
    @media (min-width: 100px) {
        margin-left: 40px; 
        top: 66px;
        position: relative;
    }
    @media (min-width: 768.5px) {
        margin-left: 190px; 
        top: 66px;
        position: relative;
    }
    @media (min-width: 960px) {
      margin-left: 200px; 
      top: 66px;
      position: relative;
    }

}

.container{
    display: flex;
    flex-direction: column;
}