/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.layout{
    display:flex;
    flex-direction: column;
}

.outlet{
    margin-left: 255px !important;
    margin-right: 0px !important;
    top: 55px !important;
    // position: relative;
    // overflow-y: scroll;
    // height: calc(100vh - 70px);
    // padding: 15px;
    height: calc(100vh - 115px);
    overflow: auto;
    // background-color: #EEF2F6;
    // background-color: #fafbfb;
    padding-top: 0px;
 
    
    @media (min-width: 100px) {
        margin-left: 40px; 
        top: 66px;
        position: relative;
    }
    @media (min-width: 768.5px) {
        margin-left: 190px; 
        top: 66px;
        position: relative;
    }
    @media (min-width: 960px) {
      margin-left: 250px; 
      top: 66px;
      position: relative;
    }

}

.container{
    display: flex;
    flex-direction: column;
}

  
  .layoutBackground {
    // background-color: #cdcece;
    
  }
  