/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.modal-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  // border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  justify-content: space-evenly;
}
  .h2_tag {
      // margin-bottom: 20px;
      // display: flex;
      // flex-direction: row;
      // justify-content: center;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      margin-top: 0;
      margin-bottom: 20px;
      padding: 25px;
      background-color: #2B3445;
      color: white;
    }
  
    p {
      margin-bottom: 30px;
    }
  


.resident-details{
 padding: 0px 50px 0px 50px;
}
.resident-email, .resident-phone, .resident-name {
display: flex;
flex-direction: row;
justify-content: start;
}