/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-img{
    // display: flex;
    // background-image: url('../../../assets/login-img.png');
    // // background-position: bottom;
    // // object-fit: contain;
    // // position:relative;
    // height: 100vh;
    // width: 100vh;
    // z-index: -1;  

    display: flex;
    background-image: url(/src/assets/login-img.png);
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: no-repeat;*/
}   

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26vh;
    margin-bottom: 49vh;
    margin-left: 1vh;
    margin-right: 1vh;
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 40px;
    padding-bottom: 30px !important;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    z-index: 1;
}

.login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password{
    margin-bottom: 10px;
    margin-top: 14px;
}

.reconfirmPassword{
    margin-bottom: 10px;
}


.submit_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize !important;
    width: -webkit-fill-available !important;
}
.form{
    display:flex;
}
.logo{
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    margin-left: -14px;
}

.subtitle{
    color: #696b76;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.2px;
}