/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.socname {
    text-decoration: none;
    color: black;
    margin: -5px;
    padding: 5px 10px;
    
  }
  
  .socname:hover {
    border-radius: 50px;
    // border: 1px solid #acf3ee;
    background: hsla(180, 80%, 17%, 0.1);
    color: #064B4F;
  }
