/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.container {
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    border-left: 5px solid #3BA285;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  