/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.viewcontainer{
  display:flex;
  flex-direction: column;
}

.tabnav{
color:black !important;
text-decoration: none;
display: flex;
flex-direction: row;
list-style-type: none;
display:flex;
flex-direction: row;
cursor: pointer;
margin:0px;
padding: 0px;
// margin-left: 50px;
}

h1{
  color:black !important;
  font-size: x-large;
}

.active {
  /* Define your active tab styles here */
  background-color: #c5c5c5;; /* Change background color to blue */
  color: #fff; /* Change text color to white */
  font-weight: bold; /* Make the text bold */
  border-bottom: 2px solid #0056b3; /* Add an underline effect */
  border-radius: 15px 15px 0px 0px;
}

.tabli{
  width:100px;
  padding:0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab{
  border-bottom: 1px solid black;
  width: min-content;
}
